<footer id="footer" class="footer">
	<div class="container">
		<h3 class="sitename">{{ site.data.footer.sitename }}</h3>
		<p>{{ site.data.footer.description }}</p>
		
		<div class="social-links d-flex justify-content-center">
			<a href="https://www.instagram.com/albanian_students_tum?igsh=MTNkb3NiZ2VhY2IybQ==" target="_blank" rel="noopener noreferrer">
				<img src="{{ '/assets/img/instagram-logo.svg' | relative_url }}" alt="Instagram" class="social-icon-img" />
			</a>
			<a href="https://www.linkedin.com/company/tum-albanian-student-society/" target="_blank" rel="noopener noreferrer">
				<img src="{{ '/assets/img/linkedin-logo.svg' | relative_url }}" alt="LinkedIn" class="social-icon-img" />
			</a>
		</div>

		<div class="copyright">
			<span>{{ site.data.footer.copyright }}</span>
		</div>
	</div>
</footer>

